@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* cmm_section_start */
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

/* cmmn_section_end */
/* top_section_start */
.top_section_start{
    background-color:#1D1D1D;
    text-align: center;
}
.top_section_title p{
    color: white;
    margin:0px;
    font-size: 14px;
}
/* top_section_end */

/* header_part_start */ 
.header_part_start{
    position: fixed;
    /* top:-120px; */
    top:6%;
    right: 0;
    left: 0;
    z-index: 1030;
    /* background-color:#1596B6; */
}
.fixed_menu_section{

}
.saha_mega_menu{
    position: relative;
}
.header_part_left{

}
.logo_img_size{
    width: 60%;
}
/* left_part_end */
.header_part_middle{

}
.header_part_middle ul{
/* position: relative; */
margin-bottom: 0px;
}
.header_part_middle ul li{
    display: inline-block;
    padding:38px 11px;
}
/* extra_menu */
.extra_main_menu_2{
    
}
.extra_main_menu_2 .rasel_extra{
    position: relative; 
}

.extra_main_menu_2 .rasel_extra:hover .extra_menu_start{
 display: block;   
}
/* extra_menu_2_end */
/* extra_mubar_section_start */
.extra_menu_start{
    position: absolute;
    top:100%;
    left: 0%;
    display: none;
    }
    .extra_menu_start .extra_ul{
        padding:0px 0px;
        background-color:white;
    }
    .extra_menu_start ul .extra_li{
        background-color:#F9F9F9;
        padding: 8px 8px;
        margin:0px;
        display: block;
        width:200px;
        /* width: 100%; */
        margin: 4px 0px;
    }
    .extra_menu_start ul .extra_li:hover{
        color: #018174;
    }
    .extra_menu_start ul .extra_li:hover a{
        color:#1F1A52;
        }
    .extra_menu_start ul .extra_li a{
        text-transform: capitalize;
        font-size: 14px;
        color: #EB2861;
    }
    
    /* extra_menu_bar_section_end */
    
.header_part_middle ul li:hover .mega_menu_section{
display: block;
}
.header_part_middle ul li a{
 font-size: 16px;
 color: white;
 font-weight: bold;
}
.header_part_middle ul li a:hover{
    color: beige;
}
/* middle_part_end */
.header_part_right{

}
.header_part_right .btn{
    background-color:#FFD81B;
    /* padding: 6px 10px; */
    border-radius: 20px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4px;
}
/* header_part_end */.mega_menu_section{
    background-color:#2CBED2;
    position: absolute;
    top:100%;
    left:0%;
    display: none;
    box-shadow: 0px 0px 4px 1px #2AB8B1;
    border-radius: 6px;
    width:100%;
    z-index: 100;
}
.mega_menu_left{
    border-right: 2px solid #6CD2E0;
}
.mega_menu_left ul{
    background-color:transparent!important;
    padding-left: 0px;
    padding-top:10px;
}
.mega_menu_left ul li {
    display: block;
    padding: 4px 20px;
}
.mega_menu_left ul li a{
    color:white;
    font-weight: 400;
    font-size: 13px;
    text-transform:capitalize;
}
.mega_menu_left ul li a:hover{
    color: bisque; 
}
/* mega_left_end */
.mega_menu_right{

}
.mega_menu_right_up{

}
.mega_menu_right_up h3{
    color: white;
}
.mega_menu_right_btn{

}
.mega_menu_right_btn .btn{
    background-color: #FEE038;
    color: black;
    font-weight: normal;
    font-size: 13px;
}
.mega_menu_right_btn .btn:hover{
    background-color:navy;
    color:white;
}
.mega_menu_right_down{

}
.mega_menu_right_down p{
    color: white;
    font-size: 18px;
}
.mega_menu_final_down{
text-align: center;
}
.mega_menu_final_down hr{
    opacity: 1;
    border-color:white;
}
.mega_menu_final_down h1{
font-size: 50px;
color: white;
}
/* mega_menu_section_end*/
/* about_banner_section_start */
.about_banner_section_start{
height: 400px;
/* background-color: #0898D7; */
position: relative;
display: flex;
align-items: center;
}
.about_banner_section_start::before{
 content: "";
 background-image: url("../images/banner1.jpg");
 background-repeat:no-repeat;
 background-size:cover;
 background-position: center;
 position: absolute;
 top:0;
 left: 0;
 right: 0;
 bottom: 0;
 /* opacity: 0.6; */
}
.about_banner_section_title{
    position: relative;
    vertical-align: middle;
}
.about_banner_section_title_up{

}
.about_banner_section_title_up hr{
margin: 0px;
border: none;
width: 5%;
height: 3px;
background-color:#FBC300;
display: inline-block;
vertical-align: middle;
color:#FBC300;;
opacity: 1;
}
.about_banner_section_title_up p{
margin: 0px;
text-transform: uppercase;
font-size: 14px;
display: inline-block;
vertical-align: middle;
color: white;
padding-left: 10px;
}
.about_banner_section_title_down{

}
.about_banner_section_title_down h1{
    text-transform: capitalize;
    font-size: 60px;
    font-weight:bold;
    color: white;
}
/* about_banner_section_end */

/* OUR_SEO_WORK_START */
.our_seo_title{

}
.cmm_seo_h2{
    margin: 0;
    font-size: 2.28rem;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
}
.cmm_seo_p{
    padding-top: 5px;
    color: #000;
    font-size: 17px;
    line-height: 26px;
    font-size: 18px;
}
.our_seo_d_one{

}
/* OUR_SEO_WORK_end */
/* comprehensive_seo_section_start */
.comprehensive_bg{
    background-color:#F5FBFF;
}

/* comprehensive_seo_section_end */
/* national_packages_one-start */
.national_packages_one{
background-color:#0090f1;
border-radius: 10px;
}
.national_packages_one h5{
    font-size: 18px;
    color: white;
}
.extra{
    position: relative;
}
.extra::before{
    position: absolute;
    content:"";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 13.5px 0 13.5px;
    border-color: #0090f1 transparent transparent transparent;
    top:100%;
    left:45%;
    right:45%;
}
/* national_packages_one_end */
/* nationl_details_start */
.national_d_one{
box-shadow: 0px 0px 2px 2px #cce1e0;
transition: 0.7s;
}
.national_d_one:hover{
    transform:translateY(-1em);

}
.national_d_one_up{

}
.national_d_one_up h5{
    font-size: 22px;
    color: #5f5f5f;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;

}
.national_d_one_up h1{
    font-size: 40px;
    color: #000;
    line-height: 50px;
    font-weight: 700;
}
.national_d_one_up h4{
    color: #9c9c9c;
    padding-top: 2px;
    font-size: 16px;
    font-weight: 400;
}
.national_d_one_up p{
    color: #6d6d6d;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 400;
}
.national_d_one_btn{

}
.national_d_one_btn .btn{
    font-size: 15px;
    background-color: #0090f1;
    color: white;
    width: 80%;
    text-transform: uppercase;
}
.national_d_one_btn .btn:hover{
    background-color:#ffca00;
}
.national_d_one_mid{
    background-color: #0090f1;
}
.national_d_one_mid p{
    margin: 0px;
    font-size: 16px;
    color: white;
}
.national_d_one_mid .d_color{
    color: #ffca00;
    font-weight: 600;
}
.national_d_one_mid .svg-inline--fa {
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    border-radius: 50%;
    width: 1em;
    background-color:#c2eaff;
    color: black;
    font-weight: normal;
    font-size: 0.7rem;
}
.national_d_one_footer{

}
.national_d_one_footer p{
    font-size: 15px;
    margin: 0px;
    line-height: 25px;
}
.national_f_text{
    opacity: 0.6;
}
.national_d_one_footer .svg-inline--fa {
    margin-right: 0.5rem;
    height: 1em;
    overflow: visible;
    width: 1em;
    vertical-align: -0.125em;
    border: 1px solid #0090f1;;
    border-radius: 50%;
    font-size: 0.7em;
    padding: 2px;
    background-color: white;
}
.national_d_posi_b{
position: relative;
}
.national_d_most_btn{
position: absolute;
top:0%;
right:1%;
}
.national_d_m_border{
    border: 2px solid #ff8a18;
}
.national_d_most_btn .btn{
    background: #ff8a18;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
}
/* nationl_details_end */
/* all_seo_para_section_start */
.all_seo_para_btn{

}
.all_seo_para_btn .btn{
    font-size: 18px;
        width: 40%;
    text-transform: uppercase;
    background-color: #0090f1;
    color: white;
}
/* all_seo_para_section_end */
/* need_help_sec_start */
.need_help_sec{
background-color: #0090f1;
border-radius: 10px;
}
.need_help_sec h5{
    font-size: 26px;
    color: #fff;
    font-weight: 600;
}
.need_help_sec p{
    font-size: 16px;
    font-weight: 400;
    font-family: roboto;
    color: #fff;
}
.need_help_sec_btn{

}
.need_help_sec_btn .btn{
    background-color: #ffba18;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
/* need_help_sec_end */
/* what_do_your_search_section_start */
.what_d_our_s_title{

}
/* title_end */
/* .what_do_you_search_details_start */
.what_do_our_d_one{
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    border-radius: 10px;
    min-height: 250px;
    overflow: hidden;
    transition: 0.7s;

}
.what_do_our_d_one:hover{
    background-color:#0090f1;
    color: white;
    transform: translateY(-2%);
}
.what_do_our_d_one h5{
    font-size: 19px;
    line-height: 22px;
}
.what_do_our_d_one p{
margin-bottom: 0px;
}
.what_do_o_img{

}
/* what_do_you_search_details_end */
/* what_do_your_search-section_end */
/* what_are_seo_pack_start */
.what_are_seo_pack{

}
.what_are_seo_pack_left{

}
.what_are_seo_pack_right{

}
.what_are_seo_pack_right p{
    font-size: 17px;
    line-height: 32px;
}
/* what_are_seo_pack_end */
/* afforddab_section_start */
.afforddab_section_start{
background-color: #F9F9F9;
}
.afforddab_left{

}
.afforddab_left h5{
    color: #0090f1;
    font-weight: 500;
    text-transform: uppercase;
}
.afforddab_left h2{

}
.afforddab_left_para{

}
.afforddab_left_para p{

}
/* counter? */
.afforddab_left_counter{

}
.afforddab_left_cout_one{

}
.afforddab_left_cout_one h4{
    font-size: 2rem;
    font-weight: 700;
}
.afforddab_left_cout_one p{
    font-size: 1.1rem;
    font-weight: 500;
}
.affor_f_b{
    border-right:2px solid #dad5d5;

}
/* counter_end */
/* left_End */
.afforddab_right{

}
.afforddab_right_one{

}
/* afforddab_section_end */
/* case_studies_from_sec_start */
.case_stu_sec{
    
}
.case_stu_sec_left{

}
.case_stu_sec_left_title{

}
.case_stu_sec_left_title h5{
    font-size: 25px;
    color: #1d1d1d;
    font-weight:600;
}
/* left_end */
.case_stu_sec_left_para{

}
.case_stu_sec_left_para p{

}
.case_stu_sec_selec{

}
.case_stu_sec_selec_one{

}
.case_stu_sec_selec_one .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 0.6em;
    overflow: visible;
    vertical-align: -0.125em;
    background-color: #0090f1;
    padding: 5px;
    border-radius: 50%;
    color: white;
}
.case_stu_sec_selec_one p{
    font-size: 17px;
    color: #000;
    font-weight: 400;
    line-height: 24px;
}
.case_stu_sec_selec_get_touch{

}
.case_stu_sec_selec_get_touch p{
    margin: 0;
    font-size:17px;
}
/* left_end */
.case_stu_sec_right{

}
/* sec_right
case_studies_from_sec_end */
/* customer_saying_sec_start */
.cutomer_saying{
    background-color: #F8FAFB;
}
.customer_say_left{

}
.customer_say_left_up{

}
.customer_say_left_img{
 box-shadow: 0px 0px 3px 1px paleturquoise;
 min-height:200px;
}
/* left_end */
.customer_say_right{

}
.customer_say_right_one{
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
border-bottom: 2px solid #1A81CB;
border-radius: 10px;
min-height: 300px;
}
.customer_say_right_one h5{
    font-weight: bold;
}
.customer_say_right_one p{
    font-size: 14px;
    font-style: italic;
}
/* customer_saying_sec_end */
/* review_section_start */
.review_section_start{
    background-color: #F6F6F6;
    text-align: center;
    }
    .review_section_title{
        text-align: center;
    }
    .review_section_details{
    
    }
    .review_section_one{
    
    }
    /* review_section_end */
    /* faq_section_start */
    .faq_section_start{
    
    }
    .faq_section_details{
    
    }
    .faq_section_details .accordion {
        --bs-accordion-btn-padding-x:0px;
        --bs-accordion-btn-padding-y: 0.7rem;
    }
    .faq_section_details .accordion-item{
        border: none;
    }
    .faq_section_details .accordion-button:focus{
    border-color: transparent;
    box-shadow: none;
    background-color:transparent;
    
    }
    .accordion_title{
    
    }
    .accordion_title h5{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        font-weight:600;
        margin-bottom: 0px;
    }
    /* faq_section_end */
    /* agency_studio_section_start */
    .agency_studio_section_start{
    background-color: #1D1D1D;
    color: white;
    }
    .agency_studio_section_one{
    
    }
    .agency_studio_title{
    
    }
    .agency_studio_title h4{
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin: 0px;
    border-left: 2px solid #20B5CB;
    padding-left:4px;
    font-size: 20px;
    }
    .agency_studio_title p{
        font-family: 'Josefin Sans', sans-serif;
        text-transform: capitalize;
        color: #6BB0CF;
        margin:0px;
        border-left:2px solid #EBEBEB;
        padding-left:4px;
        font-size: 14px;
    }
    .agency_studio_para{
    
    }
    .agency_studio_para p{
        text-transform:capitalize;
        color:#C4C4C4;
        font-weight: 500;
        margin: 0px;
        font-size: 14px;
    }
    /* agency_studio_section_end */
    /* lets_talk_section_start */
    .lets_talk_section_start{
    background-color: #EBEBEB;
    }
    .lets_talk_one{
    
    }
    .lets_talk_one .icon_t{
        color: #575A61;
    }
    .lets_talk_one .icon1{
        background-color: red;
        padding: 5px 10px;
        border-radius: 50%;
        color: white;
    }
    .lets_talk_one .icon2{
        background-color: red;
        padding: 5px 7px;
        border-radius: 50%;
        color: white;
    }
    .lets_talk_one .icon3{
        background-color: red;
        padding: 5px 8px;
        border-radius: 50%;
        color: white;
    }
    .lets_talk_one .icon4{
        background-color: red;
        padding: 5px 8px;
        border-radius: 50%;
        color: white;
    }
    
    /* one_end */
    .lets_talk_two{
    
    }
    .lets_talk_two h1{
        font-weight: bold;
        margin: 0px;
    }
    .lets_talk_thee{
        text-align: right;
    }
    .lets_talk_thee .svg-inline--fa {
        height: 1em;
        overflow: visible;
        background-color: white;
        color: red;
        padding: 6px 6px;
        border-radius: 50%;
        vertical-align: middle;
    }
    .lets_talk_thee .btn{
        font-size: 15px;
        background-color: red;
        font-weight: 600;
        color: white;
        border-radius: 20px;
        text-transform: uppercase;
    }
    /* lets_talk_section_end */
    /* branch_section_start */
    .branch_section_start{
    background-color: #EBEBEB;
    }
    .branch_main_left_one{
    
    }
    .branch_main_left_one hr{
        margin: 0px;
    }
    .branch_main_left_one_title{
        display: flex;
        justify-content: flex-start;
    }
    .branch_main_left_one_title img{
    width:10%;
    height:20px;
    }
    .branch_main_left_one_title p{
    text-transform: capitalize;
    margin-bottom: 0px;
    color: #473535;
    font-weight: bold;
    }
    .branch_main_left_one_details{
    
    }
    .branch_main_left_one_details p{
        font-size: 13px;
        color: #647684;
        margin: 0px;
    }
    .cmn_color{
        color: red;
    }
    /* left_end */
    /* branch_section_end */
    /* overall_client_review_start */
    .overall_client_review_start{
    background-color: #EBEBEB;
    }
    .overall_client_review_main{
     text-align: center;
     background-color:#F1F1F1;
    }
    .overall_client_review_main p{
        font-size: 14px;   
    }
    .overall_client_review_main .svg-inline--fa {
        display: var(--fa-display,inline-block);
        height: 1.3em;
        overflow: visible;
        vertical-align: -0.125em;
        color:#FECA12;
    }
    
    /* overall_client_review_end */
    /* .copy_right_section_start */
    .copy_right_section_start{
    background-color:black;
    }
    .copy_right_section_left{
    }
    .copy_right_section_left ul{
    margin-bottom: 0px;
    }
    .copy_right_section_left ul li{
    display: inline-block;
    }
    .copy_right_section_left ul li a{
        font-size: 13px;
        color:white;
        font-weight: bold;
        padding: 0px 8px 0px 0px;
    }
    /* left_end */
    .copy_right_section_right{
    
    }
    .copy_right_section_right p{
        font-size: 13px;
        color: white;
        font-weight: bold;
        margin: 0px;
    }
    .footer_copy{
        border-top: 1px solid paleturquoise;
    }
    /* copy_right_section_end */