@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* cmm_section_start */
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

/* cmmn_section_end */
/* top_section_start */
.top_section_start{
    background-color:#1D1D1D;
    text-align: center;
}
.top_section_title p{
    color: white;
    margin:0px;
    font-size: 14px;
}
/* top_section_end */
/* header_part_start */ 
.header_part_start{
    position: fixed;
    /* top:-120px; */
    top:6%;
    right: 0;
    left: 0;
    z-index: 1030;
    /* background-color:#1596B6; */
    /* background-color: #473387; */
}
.fixed_menu_section{
 /* background-color: #235D7D; */
}
.saha_mega_menu{
    position: relative;
}
.header_part_left{

}
.logo_img_size{
    width: 60%;
}
/* left_part_end */
.header_part_middle{

}
.header_part_middle ul{
/* position: relative; */
/* background-color: #018174; */
/* padding-bottom: 0px; */
margin-bottom: 0px;
}
.header_part_middle ul li{
 display: inline-block;
 padding:38px 11px;
 /* background-color: #235D7D; */
}
/* extra_menu */
.extra_main_menu_2{
    
}
.extra_main_menu_2 .rasel_extra{
    position: relative; 
}

.extra_main_menu_2 .rasel_extra:hover .extra_menu_start{
 display: block;   
}
/* extra_menu_2_end */
.header_part_middle ul li:hover .mega_menu_section{
display: block;
}
.header_part_middle ul li a{
 font-size: 16px;
 color: white;
 font-weight: bold;
}
.header_part_middle ul li a:hover{
    color: beige;
}
/* middle_part_end */
/* extra_mubar_section_start */
.extra_menu_start{
position: absolute;
top:100%;
left: 0%;
display: none;
}
.extra_menu_start .extra_ul{
padding:0px 0px;
background-color:white;
}
.extra_menu_start ul .extra_li{

background-color:#F9F9F9;
padding: 8px 8px;
margin:0px;
display: block;
width:200px;
/* width: 100%; */
margin: 4px 0px;
}
.extra_menu_start ul .extra_li:hover{
color: #018174;
}
.extra_menu_start ul .extra_li:hover a{
    color:#1F1A52;
    }
.extra_menu_start ul .extra_li a{
    text-transform: capitalize;
    font-size: 14px;
    color: #EB2861;
}

/* extra_menu_bar_section_end */

.header_part_right{

}
.header_part_right .btn{
    background-color:#FFD81B;
    /* padding: 6px 10px; */
    border-radius: 20px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4px;
}
/* header_part_end */
/* mega_menu_section_start*/
.mega_menu_section{
background-color:#2CBED2;
position: absolute;
top:100%;
left:0%;
display: none;
box-shadow: 0px 0px 4px 1px #2AB8B1;
border-radius: 6px;
width:100%;
z-index: 100;
}
.mega_menu_left{
border-right: 2px solid #6CD2E0;
}
.mega_menu_left ul{
    background-color:transparent!important;
    padding-left: 0px;
    padding-top:10px;
}
.mega_menu_left ul li {
    display: block;
    padding: 4px 20px;
}
.mega_menu_left ul li a{
color:white;
font-weight: 400;
font-size: 13px;
text-transform:capitalize;
}
.mega_menu_left ul li a:hover{
 color: bisque;   
}
/* mega_left_end */
.mega_menu_right{

}
.mega_menu_right_up{

}
.mega_menu_right_up h3{
    color: white;
}
.mega_menu_right_btn{

}
.mega_menu_right_btn .btn{
    background-color: #FEE038;
    color: black;
    font-weight: normal;
    font-size: 13px;
}
.mega_menu_right_btn .btn:hover{
    background-color:navy;
    color:white;
}
.mega_menu_right_down{

}
.mega_menu_right_down p{
    color: white;
    font-size: 18px;
}
.mega_menu_final_down{
text-align: center;
}
.mega_menu_final_down hr{
    opacity: 1;
    border-color:white;
}
.mega_menu_final_down h1{
font-size: 50px;
color: white;
}
/* mega_menu_section_end*/
/* banner_section_start */
.banner_section_start{

}
.banner_section_slider{

}
.banner_size{
 height:34rem;
}
.banner_main{
    position: relative;
}
.banner_titile{
position: absolute;
top:40%;
left: 18%;
}
.banner_titile h1{
font-weight: bold;
font-size: 4rem;
color: white;
}
/* banner_section_end */
/* partner_section_start */
.partner_section_start{
    margin-top: -30px;
    position: relative;
}
.partner_section_mid{
    box-shadow: 0px 0px 4px 1px plum;
    background-color: white;
}
.partner_one{
text-align: center;
background-color: #ECF2FE;
border-radius: 0% 0% 50% 0%;
}
.partner_one p{
    font-size: 14px;
    margin: 0px;
    color: #018174;
}
/* one_end */
.partner_two{
    text-align: center;
border: 2px solid #FFFF19;
}
/* two_end */
/* partner_section_end */

/* gallary_section_start */
.gallary_section_start{

}
.gallary_section_left{

}
.gallary_section_left h2{
    font-weight: bold;
}
.gallary_section_left p{
    color:#474747;
    font-weight: 500;
}
.gallary_section_left_btn{

}
.gallary_section_left_btn .btn{
    background-color: #345A8B;
    font-size: 20px;
    font-weight: bold;
    color:white;
}
.gallary_section_left_btn .btn:hover{
    background-color: navy;
}
/* left_end */
.gallary_section_right{

}
.gallary_section_one{

}
.gallary_section_two{

}
/* gallary_section_end */
/* services_section_start */
/* services_section_start */

.services_section_start{

}
.services_section_left{
padding-top: 20px;
}
.services_left_title{

}
.services_left_title p{
    text-transform: uppercase;
    margin: 0px;
    font-size: 14px;
    color: #DADCDB;
}
.services_left_title hr{
    opacity: 1;
    width: 15%;
    margin: 0px;
    padding: 0px;
    border-top: 4px solid white;
}
.services_left_para{
    padding-top:60px;

}
.services_left_para h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 50px;
    color: white;
}
.services_left_para p{
    text-transform: capitalize;
    font-weight: 600;
    color:black;
}
/* left_end */
/* important_section_start */
.service_1_bg{
    background-color:#FF6711;
    }
.services_1_middle_img{
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    min-height:500px;
    background-attachment:fixed;
}
/* important_section_end*/
.services_section_middle{
   
}
/* middle_end */
.services_section_right{
padding-top: 90px;
}
.services_section_right h5{
text-transform: uppercase;
font-weight: 700;
color: white;
}
.services_section_right hr{
    opacity: 1;
    width:100%;
    border-top: 2px solid white;
}
/* services_section_end */
/* services_two-start */
/* important_section_start */
.service_2_bg{
    background-color:#235D7D;
    }
.services_2_middle_img{
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    min-height:500px;
    background-attachment:fixed;
}
/* important_section_end*/
/* servicestwo_end */
/* services_three-start */
/* important_section_start */
.service_3_bg{
    background-color:#FF8100;
    }
.services_3_middle_img{
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    min-height:500px;
    background-attachment:fixed;
}
/* important_section_end*/
/* servicesthree_end */

/* services_section_end */
/* relation_ship_section_start */
.relation_ship_section_start{

}
.relation_ship_section_left{

}
.relation_ship_section_one{
    text-align: center;
}
.relation_ship_one_mid{

}
.relation_ship_section_one hr{
border-color:paleturquoise;
opacity: 1;
margin:10px;
}
.cmm_border_right{
    border-right: 1px solid paleturquoise;
}
/* left_end */
.relation_ship_section_right{
text-align: right;
}
.relation_ship_section_right h5{
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
 
}
.relation_ship_section_right hr{
opacity: 1;
color: #1596B6;
width:30%;
display: inline-block;
margin-top:6px;
border-top: 2px solid;
}
.relation_ship_section_right h1{
 font-weight: bold;
 text-transform: capitalize;
 font-family: 'Crimson Pro', serif;
 color: black;
}
.relation_ship_section_right p{
text-align: right;
}
.relation_ship_r_btn{

}
.relation_ship_r_btn .btn{
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 14px;
}
.relation_ship_r_btn .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    background: black;
    color: white;
    padding: 9px 10px;
    vertical-align: middle;
}
/* relation_ship_section_end */
/* free_growth_plan_section_start */
.free_growth_plan_section_start{
background-color: #EB2244;
}
.free_growth_plan_left{
color: white;
}
.free_growth_plan_left p{
margin-bottom: 0px;
}
.free_growth_plan_left h3{

}
/* left_end */
.free_growth_plan_right{
text-align: right;
}
.free_growth_plan_right .btn{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 15px;
}
.free_growth_plan_right .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    background-color: white;
    color: black;
    padding: 6px 6px;
    border-radius: 50%;
    vertical-align: middle;
}
/* free_growth_plan_section_end */
/* top_website_design_start */
.top_website_design_start{
background-color: #F2F2F2;
}
.top_website_design_title{

}
.top_website_design_title h2{
text-transform: uppercase;
}
.top_website_design_title p{
font-size: 14px;
}
.top_website_details_left{

}
.top_website_details_l_one{
    display: flex;
    align-items: center;
}
.top_ebsite_d_l_img{

}
.top_website_details_para{
padding-left: 6px;
}
.top_website_details_para h5{
font-size: 18px;

}
.top_website_details_para p{
font-size: 14px;
margin-bottom:0px;
color: #E3316F;
padding-top:4px;
}
/* left_end */
.top_website_details_right{

}
/* design_accordation_section_start */

/* callaps_section_start */
.callaps_section{

}
.callaps_section_main{

}
.callaps_section_main_one{
background-color:white;
}
.callaps_section_main_one_header{

}
.callaps_section_main_one_header .btn{
    border: none;
}
.callaps_section_main_one_header p{
    color: #929292;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}
.callaps_section_main_one_header_para{

}
.callaps_section_main_one_header_para p{
    margin-bottom: 0px;
    padding-left: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}
/* callaps_section_end */
/* top_website_design_end */

/* .company_industies_section_start */
.company_industies_section{
 position: relative;
 /* min-height: 100vh; */
 background-color: #1F1A52;
}
.company_industies_section::before{
    content:" ";
    background-image: url("../images/q.jpg");
    background-repeat: no-repeat;
    background-position:left;
    background-size:cover;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.35;
}

.company_industies_details{
position: relative;
}
.company_industies_title{

}
.company_industies_title p{
text-transform: uppercase;
font-size: 15px;
color: #C62932;
font-weight: bold;
}
.company_industies_title h3{
text-transform: capitalize;
color: white;
}
.company_solution_part{

}
.company_solution_part hr{
    color: #1596B6;
}
.company_solution_part_one{

}
.company_solution_part_one h5{
    font-size: 15px;
    text-transform: capitalize;
    color: white;
}
.company_solution_part_one p{
    text-transform: capitalize;
    font-size: 14px;
    color: #996BB3;
    margin-bottom: 0px;
}
/* company_iconic_section_start */
.company_iconic_section{

}
.company_iconic_one{

text-align: center;
}
.company_iconic_one .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1.7em;
    overflow: visible;
    vertical-align: -0.125em;
    color: #BEAFC4;
}
.company_iconic_one p{
font-size: 14px;
color: #BEAFC4;
}
/* company_iconic_section_end */
/* .company_industies_section_end */
/* review_section_start */
.review_section_start{
background-color: #F6F6F6;
text-align: center;
}
.review_section_title{
    text-align: center;
}
.review_section_details{

}
.review_section_one{

}
/* review_section_end */
/* faq_section_start */
.faq_section_start{

}
.faq_section_details{

}
.faq_section_details .accordion {
    --bs-accordion-btn-padding-x:0px;
    --bs-accordion-btn-padding-y: 0.7rem;
}
.faq_section_details .accordion-item{
    border: none;
}
.faq_section_details .accordion-button:focus{
border-color: transparent;
box-shadow: none;
background-color:transparent;

}
.accordion_title{

}
.accordion_title h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight:600;
    margin-bottom: 0px;
}
/* faq_section_end */
/* agency_studio_section_start */
.agency_studio_section_start{
background-color: #1D1D1D;
color: white;
}
.agency_studio_section_one{

}
.agency_studio_title{

}
.agency_studio_title h4{
text-transform: capitalize;
font-family: 'Josefin Sans', sans-serif;
font-weight: 700;
margin: 0px;
border-left: 2px solid #20B5CB;
padding-left:4px;
font-size: 20px;
}
.agency_studio_title p{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    color: #6BB0CF;
    margin:0px;
    border-left:2px solid #EBEBEB;
    padding-left:4px;
    font-size: 14px;
}
.agency_studio_para{

}
.agency_studio_para p{
    text-transform:capitalize;
    color:#C4C4C4;
    font-weight: 500;
    margin: 0px;
    font-size: 14px;
}
/* agency_studio_section_end */
/* lets_talk_section_start */
.lets_talk_section_start{
background-color: #EBEBEB;
}
.lets_talk_one{

}
.lets_talk_one .icon_t{
    color: #575A61;
}
.lets_talk_one .icon1{
    background-color: red;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
}
.lets_talk_one .icon2{
    background-color: red;
    padding: 5px 7px;
    border-radius: 50%;
    color: white;
}
.lets_talk_one .icon3{
    background-color: red;
    padding: 5px 8px;
    border-radius: 50%;
    color: white;
}
.lets_talk_one .icon4{
    background-color: red;
    padding: 5px 8px;
    border-radius: 50%;
    color: white;
}

/* one_end */
.lets_talk_two{

}
.lets_talk_two h1{
    font-weight: bold;
    margin: 0px;
}
.lets_talk_thee{
    text-align: right;
}
.lets_talk_thee .svg-inline--fa {
    height: 1em;
    overflow: visible;
    background-color: white;
    color: red;
    padding: 6px 6px;
    border-radius: 50%;
    vertical-align: middle;
}
.lets_talk_thee .btn{
    font-size: 15px;
    background-color: red;
    font-weight: 600;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
}
/* lets_talk_section_end */
/* branch_section_start */
.branch_section_start{
background-color: #EBEBEB;
}
.branch_main_left_one{

}
.branch_main_left_one hr{
    margin: 0px;
}
.branch_main_left_one_title{
    display: flex;
    justify-content: flex-start;
}
.branch_main_left_one_title img{
width:10%;
height:20px;
}
.branch_main_left_one_title p{
text-transform: capitalize;
margin-bottom: 0px;
color: #473535;
font-weight: bold;
}
.branch_main_left_one_details{

}
.branch_main_left_one_details p{
    font-size: 13px;
    color: #647684;
    margin: 0px;
}
.cmn_color{
    color: red;
}
/* left_end */
/* branch_section_end */
/* overall_client_review_start */
.overall_client_review_start{
background-color: #EBEBEB;
}
.overall_client_review_main{
 text-align: center;
 background-color:#F1F1F1;
}
.overall_client_review_main p{
    font-size: 14px;   
}
.overall_client_review_main .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1.3em;
    overflow: visible;
    vertical-align: -0.125em;
    color:#FECA12;
}

/* overall_client_review_end */
/* .copy_right_section_start */
.copy_right_section_start{
background-color:black;
}
.copy_right_section_left{
}
.copy_right_section_left ul{
margin-bottom: 0px;
}
.copy_right_section_left ul li{
display: inline-block;
}
.copy_right_section_left ul li a{
    font-size: 13px;
    color:white;
    font-weight: bold;
    padding: 0px 8px 0px 0px;
}
/* left_end */
.copy_right_section_right{

}
.copy_right_section_right p{
    font-size: 13px;
    color: white;
    font-weight: bold;
    margin: 0px;
}
.footer_copy{
    border-top: 1px solid paleturquoise;
}
/* copy_right_section_end */