@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* cmm_section_start */
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

/* cmmn_section_end */
/* top_section_start */
.top_section_start{
    background-color:#1D1D1D;
    text-align: center;
}
.top_section_title p{
    color: white;
    margin:0px;
    font-size: 14px;
}
/* top_section_end */
/* header_part_start */
.header_part_start{
background-color:#004B8C;
}
.header_part_left{

}
.logo_img_size{
    width: 60%;
}
/* left_part_end */
.header_part_middle{

}
.header_part_middle ul{
position: relative;
}
.header_part_middle ul li{
 display: inline-block;
 padding:10px 11px;
}
.header_part_middle ul li:hover .mega_menu_section{
display: block;
}
.header_part_middle ul li a{
 font-size: 16px;
 color: white;
 font-weight: bold;
}
.header_part_middle ul li a:hover{
    color: beige;
}
/* middle_part_end */
.header_part_right{

}
.header_part_right .btn{
    background-color:#FFD81B;
    /* padding: 6px 10px; */
    border-radius: 20px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4px;
}
/* header_part_end */
/* mega_menu_section_start*/
.mega_menu_section{
background-color:white;
position: absolute;
top:100%;
left:5%;
display: none;
box-shadow: 0px 0px 4px 1px #2AB8B1;
border-radius: 6px;
width:75%;
z-index: 100;
}
.mega_menu_left{

}
.mega_menu_left ul{
    background-color:transparent!important;
    padding-left: 0px;
    padding-top:10px;
}
.mega_menu_left ul li {
    display: block;
    padding: 2px 20px;
}
.mega_menu_left ul li a{
color:#2AB8B1;
font-weight: 400;
font-size: 14px;
text-transform: uppercase;
}
.mega_menu_left ul li a:hover{
 color: bisque;   
}
/* mega_left_end */
.mega_menu_right{

}
/* mega_menu_section_end*/
/* banner_section_start */
.banner_section_start{

}
.banner_section_slider{

}
.banner_size{
 height:28rem;
}
.banner_main{
    position: relative;
}
.banner_titile{
position: absolute;
top:40%;
left: 18%;
}
.banner_titile h1{
font-weight: bold;
font-size: 4rem;
color: white;
}
/* banner_section_end */
/* partner_section_start */
.partner_section_start{
/* position: relative; */
margin-top: -20px;
}
.partner_section_main{
background-color: #2AB8B1;
/* padding-left: 20px; */
border-radius: 10px;
}
/* partner_section_end */
/* gallary_section_start */
.gallary_section_start{

}
.gallary_section_left{

}
.gallary_section_left h2{
    font-weight: bold;
}
.gallary_section_left p{
    color:#474747;
    font-weight: 500;
}
.gallary_section_left_btn{

}
.gallary_section_left_btn .btn{
    background-color: #345A8B;
    font-size: 20px;
    font-weight: bold;
    color:white;
}
.gallary_section_left_btn .btn:hover{
    background-color: navy;
}
/* left_end */
.gallary_section_right{

}
.gallary_section_one{

}
.gallary_section_two{

}
/* gallary_section_end */
/* services_section_start */
.services_section_start{
background-color:#FF822D;
padding-top:50px;
padding-bottom: 50px;
}
.services_section_left{

}
.services_section_left h1{
 font-size: 50px;
 font-weight: bold;
 text-transform:uppercase;
}
.services_section_left p{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
/* left_part_end */
.services_section_middle{
background-image: url("../images/p1.png");
background-attachment: fixed;
background-repeat: no-repeat;
background-size:auto;
background-position: center;
}
/* middle_part_end */
.services_section_right{

}
.services_section_right h3{
    text-transform:capitalize;
    color: white;
    font-weight: bold;
}
.services_section_right  p{
    color: #FFDBC5;
    font-size: 18px;
}
.services_section_right_btn{

}
.services_section_right_btn .btn{
    background-color:white;
    padding: 6px 15px;
    font-size:18px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 20px;
}
/* right_part_end */
/* services_section_end */
/* relation_ship_section_start */
.relation_ship_section_start{

}
.relation_ship_section_left{

}
.relation_ship_section_one{

}
/* left_end */
.relation_ship_section_right{
text-align: right;
}
.relation_ship_section_right h5{
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
 
}
.relation_ship_section_right hr{
opacity: 1;
color: #1596B6;
width:30%;
display: inline-block;
margin-top:6px;
}
.relation_ship_section_right h2{
 font-weight: bold;
 text-transform: capitalize;
 font-family: 'Roboto Slab', serif;
}
.relation_ship_section_right p{

}
.relation_ship_r_btn{

}
.relation_ship_r_btn .btn{
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
/* relation_ship_section_end */
/* free_growth_plan_section_start */
.free_growth_plan_section_start{
background-color: #EB2244;
}
.free_growth_plan_left{
color: white;
}
.free_growth_plan_left p{
margin-bottom: 0px;
}
.free_growth_plan_left h3{

}
/* left_end */
.free_growth_plan_right{

}
.free_growth_plan_right .btn{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 15px;
}
.free_growth_plan_right .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    background-color: white;
    color: black;
    padding: 6px 6px;
    border-radius: 50%;
    vertical-align: middle;
}
/* free_growth_plan_section_end */
/* top_website_design_start */
.top_website_design_start{
background-color: #F2F2F2;
}
.top_website_design_title{

}
.top_website_design_title h2{
text-transform: uppercase;
}
.top_website_design_title p{
font-size: 14px;
}
.top_website_details_left{

}
.top_website_details_l_one{
    display: flex;
    align-items: center;
}
.top_ebsite_d_l_img{

}
.top_website_details_para{
padding-left: 6px;
}
.top_website_details_para h5{
font-size: 18px;

}
.top_website_details_para p{
font-size: 14px;
margin-bottom:0px;
color: #E3316F;
padding-top:4px;
}
/* left_end */
.top_website_details_right{

}
.design_acordation_section{
background-color: #F2F2F2;
}
.design_acordation_one{
    background-color: white;
    display: flex;
    justify-content:flex-start;
}
.design_acordation_one span{
    color: #929292;
    padding:0px 15px;
}
.design_acordation_one p{
color: #929292;
margin-bottom: 0px;
font-size: 16px;
}
/* top_website_design_end */
/* .company_industies_section_start */
.company_industies_section{
 background-color:#1F184C
}

.company_industies_details{

}
.company_industies_title{

}
.company_industies_title p{
text-transform: uppercase;
font-size: 15px;
color: #C62932;
font-weight: bold;
}
.company_industies_title h3{
text-transform: capitalize;
color: white;
}
.company_solution_part{

}
.company_solution_part hr{
    color: #1596B6;
}
.company_solution_part_one{

}
.company_solution_part_one h5{
    font-size: 15px;
    text-transform: capitalize;
    color: white;
}
.company_solution_part_one p{
    text-transform: capitalize;
    font-size: 14px;
    color: #996BB3;
    margin-bottom: 0px;
}
.company_iconic_section{

}
.company_iconic_one{

text-align: center;
}
.company_iconic_one .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1.7em;
    overflow: visible;
    vertical-align: -0.125em;
    color: #BEAFC4;
}
.company_iconic_one p{
font-size: 14px;
color: #BEAFC4;
}
/* .company_industies_section_end */
/* review_section_start */
.review_section_start{
background-color: #F6F6F6;
text-align: center;
}
.review_section_title{
    text-align: center;
}
.review_section_details{

}
.review_section_one{

}
/* review_section_end */
/* faq_section_start */
.faq_section_start{

}
.faq_section_details{

}
.faq_section_details .accordion-item{
    border: none;
}
.faq_section_details .accordion-button:focus{
border-color: transparent;
box-shadow: none;
background-color:transparent;

}
.accordion_title{

}
.accordion_title h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight:600;
    margin-bottom: 0px;
}
/* faq_section_end */
/* agency_studio_section_start */
.agency_studio_section_start{
background-color: #1D1D1D;
color: white;
}
.agency_studio_section_one{

}
.agency_studio_title{

}
.agency_studio_title h4{
text-transform: capitalize;
font-family: 'Josefin Sans', sans-serif;
font-weight: 700;
margin: 0px;
border-left: 2px solid #20B5CB;
padding-left:4px;
font-size: 20px;
}
.agency_studio_title p{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    color: #6BB0CF;
    margin:0px;
    border-left:2px solid #EBEBEB;
    padding-left:4px;
    font-size: 14px;
}
.agency_studio_para{

}
.agency_studio_para p{
    text-transform:capitalize;
    color:#C4C4C4;
    font-weight: 500;
    margin: 0px;
    font-size: 14px;
}
/* agency_studio_section_end */
/* lets_talk_section_start */
.lets_talk_section_start{
background-color: #EBEBEB;
}
.lets_talk_one{

}
.lets_talk_one .icon_t{
    color: #575A61;
}
.lets_talk_one .icon1{
    background-color: red;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
}
.lets_talk_one .icon2{
    background-color: red;
    padding: 5px 7px;
    border-radius: 50%;
    color: white;
}
.lets_talk_one .icon3{
    background-color: red;
    padding: 5px 8px;
    border-radius: 50%;
    color: white;
}
.lets_talk_one .icon4{
    background-color: red;
    padding: 5px 8px;
    border-radius: 50%;
    color: white;
}

/* one_end */
.lets_talk_two{

}
.lets_talk_two h1{
    font-weight: bold;
    margin: 0px;
}
.lets_talk_thee .svg-inline--fa {
    height: 1em;
    overflow: visible;
    background-color: white;
    color: red;
    padding: 6px 6px;
    border-radius: 50%;
    vertical-align: middle;
}
.lets_talk_thee .btn{
    font-size: 15px;
    background-color: red;
    font-weight: 600;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
}
/* lets_talk_section_end */
/* branch_section_start */
.branch_section_start{
background-color: #EBEBEB;
}
.branch_main_left_one{

}
.branch_main_left_one hr{
    margin: 0px;
}
.branch_main_left_one_title{
    display: flex;
    justify-content: flex-start;
}
.branch_main_left_one_title img{
width:10%;
height:20px;
}
.branch_main_left_one_title p{
text-transform: capitalize;
margin-bottom: 0px;
color: #473535;
font-weight: bold;
}
.branch_main_left_one_details{

}
.branch_main_left_one_details p{
    font-size: 13px;
    color: #647684;
    margin: 0px;
}
.cmn_color{
    color: red;
}
/* left_end */
/* branch_section_end */