@media(min-width:992px) and (max-width:1199.98px){
    .header_part_start{
        position: fixed;
        top: 7%;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .mega_menu_section{
        background-color:#2CBED2;
        position: absolute;
        top:100%;
        left:0%;
        display: none;
        box-shadow: 0px 0px 4px 1px #2AB8B1;
        border-radius: 6px;
        width:100%;
        }
        /* header_section_end */
        .banner_titile h1 {
            font-weight: bold;
            font-size: 3rem;
            color: white;
        }
        .relation_ship_r_btn .btn {
            font-size: 14px;
        }
        .overall_client_review_main p {
            font-size: 12px;
          }
          /* extra_contact_page */
          .gallery_section_one {
            max-height: 120px;
          }
          /* extra_contact_page */
}
@media(min-width:768px) and (max-width:991.98px){

    .header_part_start{
        position:static;
        top: 7%;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color:#271A36;
    }
        .header_part_left {
        text-align: center;
        }
        .logo_img_size {
            width:15%;
        }
        .header_part_middle ul li{
            display:block;
            padding:6px 11px;
           }
           .mega_menu_section{
            background-color:#2CBED2;
            position:relative;
            top:100%;
            left:0%;
            display: none;
            box-shadow: 0px 0px 4px 1px #2AB8B1;
            border-radius: 6px;
            }
            /* extra_mubar_section_start */
                .extra_menu_start{
                    position:relative;
                    top:100%;
                    left: 0%;
                    display: none;
                    }
                    .extra_menu_start ul .extra_li{
                        /* 
                        background-color:#F9F9F9; */
                        /* padding: 6px 4px; */
                        margin:0px;
                        display: block;
                        width:100%;
                        }
            /* extra_mubar_section_end */
            
            .mega_menu_left ul{
                background-color:transparent!important;
                padding-left: 0px;
                padding-top:6px;
            }
            .mega_menu_left ul li {
                display: block;
                padding: 2px 20px;
            }
            .mega_menu_left ul li a{
            color:white;
            font-weight: 400;
            font-size: 13px;
            text-transform: uppercase;
            }
            /* header_section_end */
            .banner_titile h1 {
                font-weight: bold;
                font-size: 3rem;
                color: white;
            }
            .relation_ship_section_right {
                text-align: center;
              }
              
              .accordion_title h5 {
                font-size: 20px;
            }
            .copy_right_section_start {
                background-color:black;
                text-align: center;
            }
            .free_growth_plan_right{
                text-align:center;
                }
                  /* extra_contact_page */
          .gallery_section_one {
            max-height:90px;
          }
          /* extra_contact_page */
          .fixed_menu_section{
            background-color: #235D7D;
           }

}
@media(min-width:576px) and (max-width:767.98px){
    .header_part_start{
        position:static;
        top: 7%;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color:#271A36;
    }
    .header_part_left {
        text-align: center;
        }
        .logo_img_size {
            width:15%;
        }
        .header_part_middle ul li{
            display:block;
            padding:6px 11px;
           }
           .mega_menu_section{
            background-color:#2CBED2;
            position:relative;
            top:100%;
            left:0%;
            display: none;
            box-shadow: 0px 0px 4px 1px #2AB8B1;
            border-radius: 6px;
            }
               /* extra_mubar_section_start */
               .extra_menu_start{
                position:relative;
                top:100%;
                left: 0%;
                display: none;
                }
                .extra_menu_start ul .extra_li{
                    /* 
                    background-color:#F9F9F9; */
                    /* padding: 6px 4px; */
                    margin:0px;
                    display: block;
                    width:100%;
                    }
        /* extra_mubar_section_end */
            .mega_menu_left ul{
                background-color:transparent!important;
                padding-left: 0px;
                padding-top:6px;
            }
            .mega_menu_left ul li {
                display: block;
                padding: 2px 20px;
            }
            .mega_menu_left ul li a{
            color:white;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            }
            /* header_section_end */
            .banner_titile h1 {
                font-weight: bold;
                font-size: 2rem;
                color: white;
            }
            .relation_ship_section_right {
                text-align: center;
              }
              .relation_ship_section_right p{
                text-align: center;
              }
              .accordion_title h5 {
                font-size: 14px;
            }
            .copy_right_section_start {
                background-color:black;
                text-align: center;
            }
            .free_growth_plan_right{
                text-align:center;
                }
                .lets_talk_thee{
                    text-align:left;
                }
                /* extra_contact_page */
          .gallery_section_one {
            max-height:68px;
          }
          /* extra_contact_page */
          .fixed_menu_section{
            background-color: #235D7D;
           }
           .facebook_ads_management_tab_right{
            height:auto;
            overflow: hidden;
            }
            .all_seo_para_btn .btn{
                width:70%;
            }
}
@media(max-width:575.98px){
    .header_part_start{
        position:static;
        top: 7%;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color:#271A36;
    }
    .header_part_left {
        text-align: center;
        }
        .logo_img_size {
            width:15%;
        }
        .header_part_middle ul li{
            display:block;
            padding:6px 11px;
           }
           .mega_menu_section{
            background-color:#2CBED2;
            position:relative;
            top:100%;
            left:0%;
            display: none;
            box-shadow: 0px 0px 4px 1px #2AB8B1;
            border-radius: 6px;
            }
               /* extra_mubar_section_start */
               .extra_menu_start{
                position:relative;
                top:100%;
                left: 0%;
                display: none;
                }
                .extra_menu_start ul .extra_li{
                    /* 
                    background-color:#F9F9F9; */
                    /* padding: 6px 4px; */
                    margin:0px;
                    display: block;
                    width:100%;
                    }
        /* extra_mubar_section_end */
            .mega_menu_left ul{
                background-color:transparent!important;
                padding-left: 0px;
                padding-top:6px;
            }
            .mega_menu_left ul li {
                display: block;
                padding: 2px 20px;
            }
            .mega_menu_left ul li a{
            color:white;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            }
            /* header_section_end */
            .banner_titile h1 {
                font-weight: bold;
                font-size: 2rem;
                color: white;
            }
            .banner_size {
                height: 15rem;
              }
              .gallary_section_right {
                text-align: center;
            }
            .relation_ship_section_start {
                text-align: center;
            }
            .relation_ship_section_right {
                text-align: center;
              }
              .accordion_title h5 {
                font-size: 14px;
            }
            .copy_right_section_start {
                background-color:black;
                text-align: center;
            }
            .relation_ship_section_right p{
                text-align: center;
              }
              .free_growth_plan_right{
                text-align:center;
                }
                .lets_talk_thee{
                    text-align:left;
                }
                .gallery_section_one img {
                    width: 100%;
                    height: auto;
                  }
                  .fixed_menu_section{
                    background-color: #235D7D;
                   }
                   .facebook_ads_management_tab_right{
                    height: auto;
                    overflow: hidden;
                    }
                    .seo_b_t h1{
                        font-size: 37px;
                    }
                    .all_seo_para_btn .btn{
                        width:100%;
                    }
                    .cmm_seo_h2{
                        font-size: 2rem;
                        text-align: center;
                    }
}