@media(min-width:992px) and (max-width:1199.98px){
    .header_part_start{
        position: fixed;
        top: 7%;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .mega_menu_section{
        background-color:white;
        position: absolute;
        top:100%;
        left:5%;
        display: none;
        box-shadow: 0px 0px 4px 1px #2AB8B1;
        border-radius: 6px;
        width:90%;
        }
        /* header_section_end */
        .banner_titile h1 {
            font-weight: bold;
            font-size: 3rem;
            color: white;
        }
        .relation_ship_r_btn .btn {
          
            font-size: 14px;
        }
}
@media(min-width:768px) and (max-width:991.98px){

    .header_part_start{
        position:static;
        top: 7%;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color:#271A36;
    }
        .header_part_left {
        text-align: center;
        }
        .logo_img_size {
            width:15%;
        }
        .header_part_middle ul li{
            display:block;
            padding:6px 11px;
           }
           .mega_menu_section{
            background-color:white;
            position:relative;
            top:100%;
            left:5%;
            display: none;
            box-shadow: 0px 0px 4px 1px #2AB8B1;
            border-radius: 6px;
            }
            
            .mega_menu_left ul{
                background-color:transparent!important;
                padding-left: 0px;
                padding-top:6px;
            }
            .mega_menu_left ul li {
                display: block;
                padding: 2px 20px;
            }
            .mega_menu_left ul li a{
            color:#2AB8B1;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            }
            /* header_section_end */
            .banner_titile h1 {
                font-weight: bold;
                font-size: 3rem;
                color: white;
            }
            .relation_ship_section_right {
                text-align: center;
              }
              .accordion_title h5 {
                font-size: 20px;
            }
            .copy_right_section_start {
                background-color: #EBEBEB;
                text-align: center;
            }
}
@media(min-width:576px) and (max-width:767px){
    .header_part_start{
        position:static;
        top: 7%;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color:#271A36;
    }
    .header_part_left {
        text-align: center;
        }
        .logo_img_size {
            width:15%;
        }
        .header_part_middle ul li{
            display:block;
            padding:6px 11px;
           }
           .mega_menu_section{
            background-color:white;
            position:relative;
            top:100%;
            left:5%;
            display: none;
            box-shadow: 0px 0px 4px 1px #2AB8B1;
            border-radius: 6px;
            }
            .mega_menu_left ul{
                background-color:transparent!important;
                padding-left: 0px;
                padding-top:6px;
            }
            .mega_menu_left ul li {
                display: block;
                padding: 2px 20px;
            }
            .mega_menu_left ul li a{
            color:#2AB8B1;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            }
            /* header_section_end */
            .banner_titile h1 {
                font-weight: bold;
                font-size: 2rem;
                color: white;
            }
            .relation_ship_section_right {
                text-align: center;
              }
              .accordion_title h5 {
                font-size: 14px;
            }
            .copy_right_section_start {
                background-color: #EBEBEB;
                text-align: center;
            }
            
}
@media(max-width:575.98px){
    .header_part_start{
        position:static;
        top: 7%;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color:#271A36;
    }
    .header_part_left {
        text-align: center;
        }
        .logo_img_size {
            width:15%;
        }
        .header_part_middle ul li{
            display:block;
            padding:6px 11px;
           }
           .mega_menu_section{
            background-color:white;
            position:relative;
            top:100%;
            left:5%;
            display: none;
            box-shadow: 0px 0px 4px 1px #2AB8B1;
            border-radius: 6px;
            }
            .mega_menu_left ul{
                background-color:transparent!important;
                padding-left: 0px;
                padding-top:6px;
            }
            .mega_menu_left ul li {
                display: block;
                padding: 2px 20px;
            }
            .mega_menu_left ul li a{
            color:#2AB8B1;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            }
            /* header_section_end */
            .banner_titile h1 {
                font-weight: bold;
                font-size: 2rem;
                color: white;
            }
            .banner_size {
                height: 15rem;
              }
              .gallary_section_right {
                text-align: center;
            }
            .relation_ship_section_start {
                text-align: center;
            }
            .relation_ship_section_right {
                text-align: center;
              }
              .accordion_title h5 {
                font-size: 14px;
            }
            .copy_right_section_start {
                background-color: #EBEBEB;
                text-align: center;
            }
}